@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikBold.ttf");
    font-family: "Rubik";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikMedium.ttf");
    font-family: "Rubik";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikRegular.ttf");
    font-family: "Rubik";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikSemiBold.ttf");
    font-family: "Rubik";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikRomanRegular.ttf");
    font-family: "Rubik";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikRomanMedium.ttf");
    font-family: "Rubik";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/PoppinsMedium.ttf");
    font-family: "Poppins";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RobotoBold.ttf");
    font-family: "Roboto";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RobotoRegular.ttf");
    font-family: "Roboto";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikRomanBold.ttf");
    font-family: "Rubik";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/WorkSansRegular.ttf");
    font-family: "Work Sans";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/RubikRomanSemiBold.ttf");
    font-family: "Rubik";
    font-weight: 600;
}