.rowproject-1 {
    margin-bottom: 46px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }

    @media only screen and (max-width: 550px) {
        padding-left: var(--space-4xl);
        padding-right: var(--space-4xl);
    }
}

.columnproject-2 {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.project-2 {
    color: var(--gray_500) !important;
    margin-left: 154px;
    font-size: 60px !important;
    align-self: flex-start;

    @media only screen and (max-width: 1050px) {
        font-size: 36px !important;
        margin-left: 0px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 30px !important;
    }
}

.description-44 {
    color: var(--gray_900_01) !important;
    margin-top: 12px;
    font-weight: 400 !important;
    width: 80%;
    line-height: 150%;

    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.row_two-5 {
    margin-top: 24px;
    align-self: stretch;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.row_three-3 {
    margin-bottom: 20px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1440px) {
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }

    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }
}